{% extends 'partial/body.html' %}
{% load static%}
{% block content %}

<header class="bg-warning py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">All Member</h1>
            <p class="lead fw-normal text-white-100 mb-0">Member Of Tennisify</p>
        </div>
    </div>
</header>



<!-- <section class="py-4">
    <div class="container px-4 px-lg-5 my-5 text-center">
        <div class="row ">
            {% for member in member%}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{member.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Location: {{member.location}}</h6>
                        <p class="card-text">{{member.quote}}</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
</section> -->

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h4>Member:</h4>
        <p>You can be Member too. <a href="{% url 'create' %}" title="Create new member">Create New member</a></p>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in member%}
            <div class="col mb-5">
                <div class="card h-60">
                    <!-- Product image-->
    
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Location: {{product.location}}</h6>
                            <p>{{product.description}}</p>
                            <!-- Product price-->
                            {{product.quote}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'member' product.id %}">View member</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</section>

{% endblock %}