{% extends 'partial/body.html' %}
{% load static%}
{% block content %}

<header class="bg-warning py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login Into Your Account </h1>
            <p class="lead fw-normal text-white-100 mb-0">Login</p>
        </div>
    </div>
</header>
<br>
<style>
    .function{
        padding: 55px;
    }
    h4{
        text-align: center;
    }
</style>
<div class="container">
    <div class="function">
        <h4>Sign into your account</h4>
        <form action="" method="post">
            {% csrf_token %}

            <label for="username">Username</label><br>
            <input type="text" class="form-control" placeholder="Enter Your Username" name="username"><br>

            <label for="password">Password</label><br>
            <input type="password" class="form-control" placeholder="Enter Your Password" name="password1"><br>

            <button class="btn btn-outline-success" type="submit">Sumbit</button>
        </form>
        <h4>Don't have an account <a href="#">Resigter</a><br></h4>
    </div>
</div>






<br><br><br>

<br><br><br>
{% endblock %}