{% extends 'partial/body.html' %}
{% load static%}
{% block content %}

<header class="bg-warning py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-100 mb-0">Register</p>
        </div>
    </div>
</header>
<br>


<div class="container">
    <div>
        <form action="" method="post">
            {% csrf_token %}


            {{form.as_p}}
            <button type="submit" class="btn btn-outline-dark">Submit</button>




        </form>

    </div>

</div>









<br>
<br><br><br><br><br>
{% endblock %}